{% extends 'base56.html'%}
{% csrf_token %}

{% block content %}
<ul>

    <li>{{book.title}}</li> 
    <ul>

        <li>{{book.title}}</li> 
        <li><a href="{% url 'author' book.id%}">{{book.authors}}</a></li>
        <li>{{book.average_rating}}</li>
        <li>{{book.isbn}}</li>
        
        </ul>
    <li>{{book.average_rating}}</li>
    <li>{{book.isbn}}</li>
    
    </ul>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enviar">
    </form>
{% endblock %}